.navigation li:nth-child(4),footer li:nth-child(4){
    background: linear-gradient(45deg,red,rgb(115, 115, 214));
    -webkit-background-clip: text;
    -webkit-text-fill-color:transparent;
}
.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    background-color: #373738;
    text-align: right;
}
.inline-block{
    display: inline-block;
    vertical-align: top;
}
.name{
    white-space: nowrap;
    display: inline-block;
    vertical-align: top;
    text-align: left;
    color: white;
}
.Logo{
    width: 23%;
    padding: 0%;
    text-align: center;
}
nav{
    width: 73%;
    padding: 1%;
}
nav ul{
    list-style-type: none;
    padding: 0;
    margin-left: auto;
}
nav ul li{
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    color: white;
}

.heroImg{
    padding: 80px;
}
.heroImg .content{
    display: flex;
    align-items: bottom;
}
.heroImg .content .text{
    flex:1;
    padding-right: 20px;
    
}
.heroImg .content img{
    max-width: 60%;
    flex-shrink: 0;
}
.content{
    width: 500px;
    margin: 0 auto;
    text-align: left;
    padding: 5px;
}
.heroImg .button{
    text-align: center;
}
footer{
    background-color: #373738;
    padding: 5px;
    text-align: center;
}
footer ul{
    display:inline-block;
    vertical-align: top;
}
footer li{
    display:inline-block;
    vertical-align: top;
    padding: 5px;
    margin: 0 auto;
    color: white;
}
footer img {
    margin-right: 10px;
}
